/**/


.card-archives ul.card-archive-list,
.card-categories ul.card-category-list {
	margin: 0;
	padding: .2rem 0 0;
	list-style: none
}

.card-archives ul.card-archive-list>.card-archive-list-item,
.card-categories ul.card-category-list>.card-category-list-item {
	padding: .15rem 1rem;
	transition: all .5s
}

.card-archives ul.card-archive-list>.card-archive-list-item:hover,
.card-categories ul.card-category-list>.card-category-list-item:hover {
	padding: .15rem .85rem;
	background-color: $light-blue
}

.card-archives ul.card-archive-list>.card-archive-list-item a,
.card-categories ul.card-category-list>.card-category-list-item a {
	color: $font-black
}

.card-archives ul.card-archive-list>.card-archive-list-item a span,
.card-categories ul.card-category-list>.card-category-list-item a span {
	display: inline-block;
	overflow: hidden;
	vertical-align: bottom;
	text-overflow: ellipsis;
	white-space: nowrap
}

.card-archives ul.card-archive-list>.card-archive-list-item a span:first-child,
.card-categories ul.card-category-list>.card-category-list-item a span:first-child {
	width: 80%
}

.card-archives ul.card-archive-list>.card-archive-list-item a span:last-child,
.card-categories ul.card-category-list>.card-category-list-item a span:last-child {
	width: 20%;
	text-align: right
}

.card-archives ul.card-archive-list>.card-archive-list-item.more span,
.card-categories ul.card-category-list>.card-category-list-item.more span {
	padding-right: .3rem;
	width: auto !important;
	transition: .5s
}

.card-archives ul.card-archive-list>.card-archive-list-item.more:hover span,
.card-categories ul.card-category-list>.card-category-list-item.more:hover span {
	padding-right: .6rem
}

.card-categories ul .card-category-list-name {
	display: inline-block;
	width: 70%;
	cursor: pointer
}

.card-categories ul .card-category-list-count {
	display: inline-block;
	width: 20%
}

.card-categories ul .fa {
	display: inline-block;
	width: 10%;
	cursor: pointer
}

.card-categories ul ul {
	display: none
}

.card-categories ul .card-post-name {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	display: block
}

.card-categories .card-category-list.child {
	padding: 0 0 0 1.2rem
}